body, html{
	margin: 0;
	padding: 0;
	background-color: #DCDCDC;
	text-align: center;
	overflow: hidden;
}

canvas{
	display: inline-block;
}

#debugCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
}
